.login-cover {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginError {
  display: none;
}
#loginProgress {
  display: none;
}
#signinError {
  display: none;
}
#signinProgress {
  display: none;
}
h6 {
  display: inline;
}
.mdl-data-table td {
  text-align: left;
  padding:0;
}
.mdl-data-table th {
  text-align: left;
  padding:0;
}
